// ..........newsletter..............
form.wpcf7-form {
	.newsletter-homepage {
		p {
			margin-bottom: 0;
		}
		.wpcf7-form-control-wrap {
			display: block;
			input {
				border-radius: 58px;
				background: #fff;
				height: 58px;
				border: 2px solid var(--rbb-general-primary-color);
				border-style: dashed;
				&::placeholder {
					text-transform: uppercase;
					font-size: 10px;
					color: #bdbdbd;
					letter-spacing: 1px;
				}
			}
		}
		.button {
			z-index: 9;
			position: absolute;
			top: 0;
			right: -1px;
			width: auto;
			height: 58px;
			border-radius: 58px;
			min-width: 155px;
			font-size: 12px;
			text-align: center;
			margin-bottom: 0;
			border: 1px solid var(--rbb-general-primary-color);
			&:hover {
				background-color: color-mix(in srgb, var(--rbb-general-primary-color) 90%, #000 30%);
				border: 1px solid color-mix(in srgb, var(--rbb-general-primary-color) 90%, #000 30%);
			}
		}
		&.submitting {
			.wpcf7-spinner {
				z-index: 11;
			}
		}
		.wpcf7-spinner {
			bottom: auto;
			top: 17px;
			left: auto;
			right: 22px;
		}
	}
}
body {
	#rbb-promotion-popup {
		z-index: 99999;
		.rbb-modal-dialog {
			max-width: 920px;
			.rbb-promotion-popup-inner {
				.newsletter-form {
					.footer-form {
						.wpcf7-form-control-wrap {
							input {
								background: transparent;
								text-align: center;
								margin-bottom: 20px;
								border:
									1px solid
									var(--rbb-general-secondary-color);
								border-style: dashed;
								border-width: 1px;
								transition: 0s;
								&:focus {
									border:
										1px solid
										var(--rbb-general-primary-color);
									border-style: dashed;
									border-width: 1px;
								}
								&::placeholder {
									color: #aaa;
									font-size: 10px;
									font-weight: 500;
								}
							}
						}
						.button {
							top: auto;
							position: relative;
							width: 100%;
							right: 0;
							font-size: var(--typography-button-font-size);
							height: 50px;
							margin-bottom: 0;
							transition: 0.35s;
							background: var(--rbb-general-primary-color);
							&:hover {
								background: var(--rbb-general-secondary-color);
							}
						}
						.wpcf7-spinner {
							bottom: 11px;
							top: auto;
							right: 50%;
							z-index: 9;
							transform: translateX(50%);
						}
					}
				}
				#rbb_dont_show_again {
					width: 20px;
					height: 20px;
					border-radius: 3px;
					border-width: 1px;
					border-style: solid;
					border-color: var(--rbb-account-input-border-color);
					margin-right: 10px;
					position: relative;
					&:focus {
						box-shadow: none;
					}
					&:checked {
						background: var(--rbb-general-primary-color);
						&::before {
							content: "\eb43";
							font-size: 10px;
							color: #fff;
							display: inline-block;
							border-radius: 3px;
							position: absolute;
							top: 4px;
							left: 4px;
							line-height: 13px;
							text-align: center;
							transition: 0.3s;
							z-index: 1;
							font-family: rbb-font, serif;
							background: var(--rbb-general-primary-color);
						}
					}
				}
			}
		}
		&.promotion {
			.rbb-modal-dialog .rbb-modal-header .rbb-close-modal {
				right: 50%;
				transform: translateX(50%);
				top: -67px;
			}
		}
	}
}
@media (max-width: 370px) {
	.rbb-promotion-popup-inner {
		.desc {
			max-width: 260px;
			display: inline-block;
		}
	}
}
