.rbb_posts {
	.select-wrap {
		.select-styled {
			min-width: 230px;
			height: 53px;
			line-height: 50px;
			background: #fff;
			color: var(--rbb-general-primary-color);
			z-index: 10;
			text-align: left;
			transition: 0.35s;
			&::after {
				content: "\e9fe";
				font-family: rbb-font, serif;
				font-size: 10px;
				text-align: center;
				position: absolute;
				width: 45px;
				height: 45px;
				line-height: 45px;
				border-radius: 100%;
				background-color: var(--rbb-general-button-bg-color);
				right: 2px;
				top: 2px;
				transition: all 0.2s ease-in;
			}
			&:hover::after {
				background: var(--rbb-general-primary-color);
				color: #fff;
			}
			&.active::after {
				transform: rotate(180deg);
				background: transparent;
				color: var(--rbb-general-primary-color);
			}
			&.active {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom: none;
			}
		}
	}
	.select-options {
		z-index: 8;
		top: 0;
		min-height: 53px;
		border-radius: 22px;
		border: 2px solid #e4e4e4;
		background: rgb(255, 255, 255);
		font-size: 13px;
		box-shadow: 12px 9px 25px 0 rgba(0, 0, 0, 0.1);
		li {
			padding: 10px 30px;
			transition: 0.35s;
			font-weight: 800;
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			text-transform: capitalize;
			color: var(--rbb-general-link-color);
			&:first-child {
				padding-top: 53px;
			}
			&::before {
				content: "";
				width: 20px;
				height: 20px;
				display: inline-block;
				border-radius: 100%;
				border: 5px solid #fff;
				margin-right: 15px;
				box-shadow: 0 0 0 1px var(--rbb-general-primary-color);
			}
			&.active,
			&:hover {
				color: var(--rbb-general-primary-color);
				&::before {
					background: var(--rbb-general-primary-color);
					box-shadow: 0 0 0 1px var(--rbb-general-primary-color);
				}
			}
		}
	}
	.block_slide .slick-list {
		overflow: initial;
		.slick-track {
			display: flex;
			margin-left: 0;
		}
	}
	.blog_readmore {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 0;
			opacity: 0;
			border-radius: 0 30px 30px 0;
			background-color: #01693a;
			transition: all 0.4s;
		}
		&:hover {
			color: #fff;
			&::before {
				width: calc(100% + 15px);
				opacity: 1;
				left: -15px;
			}
		}
	}
	.block_slider__content {
		&:hover .slick-arrow {
			transition: all 0.5s ease;
			opacity: 1;
			visibility: initial;
		}
		.slick-arrow {
			height: 53px;
			width: 53px;
			z-index: 1;
			border-radius: 100%;
			background: #fff;
			border: 1px solid var(--rbb-general-button-bg-color);
			box-shadow: 3px 4px 8px 0 rgb(0 0 0 / 10%);
			transition: all 0.5s ease;
			opacity: 0;
			visibility: hidden;
			@media (max-width: 991px) {
				height: 40px;
				width: 40px;
				&.slick-prev {
					left: -20px;
				}
				&.slick-next {
					right: -20px;
				}
			}
			&::before {
				font-family: rbb-font, serif;
				color: #000;
			}
			&.slick-prev {
				left: -26px;
			}
			&.slick-next {
				right: -26px;
			}
			&:hover {
				color: #fff;
				border: 1px solid var(--rbb-general-primary-color);
				background: var(--rbb-general-primary-color);
				&::before {
					color: #fff;
				}
			}
		}
	}
	&.default {
		.block_slider__content {
			@media (min-width: 767px) {
				margin-right: -17vw;
				padding-right: 17vw;
			}
			@media (min-width: 2000px) {
				margin-right: -25vw;
				padding-right: 25vw;
			}
			.slick-dots {
				position: absolute;
				top: -72px;
				right: -10px;
				bottom: initial;
				left: initial;
				width: auto;
				@media (max-width: 767px) {
					display: none !important;
				}
				li {
					button {
						background: rgba(#000, 0.5);
					}
					&:hover {
						button {
							background: #fff;
						}
					}
					&.slick-active {
						box-shadow: 0 0 0 1px #fff;
						button {
							background: #fff !important;
						}
					}
				}
			}
		}
	}
	&.layout-2 {
		.blog_item {
			border: 1px solid var(--rbb-general-button-bg-color);
		}
	}
	&.layout-3 {
		.blog_item {
			&:hover {
				box-shadow: none;
			}
			.blog_readmore {
				color: var(--rbb-general-primary-color);
				&::before {
					display: none;
				}
				&:hover {
					color: var(--rbb-general-secondary-color);
				}
			}
		}
	}
}
