/* Tags
--------------------------------------------- */
.tags-link,
.wp-block-tag-cloud {
	margin-bottom: -10px;

	a {
		color: var(--rbb-general-body-text-color);
		background: var(--rbb-breadcrumb-background-color);
		font-size: 12px !important;
		padding: 6px 17px;
		border-radius: 4px;
		min-height: 36px;
		line-height: 24px;
		transition: 0.3s;
		display: inline-block;
		margin: 0 5px 10px 0;

		&:hover {
			color: #fff;
			transition: 0.3s;
			background: var(--rbb-general-primary-color);
		}
	}
}

/* Tags Product
--------------------------------------------- */
.rbb-widget--product-tags {
	.widget-title {
		font-size: 0.875rem;
		text-transform: uppercase;
	}
}
