/* Default Header 9 */
.rbb-default-header {
	&.header-9 {
		.wp-block-social-links {
			.wp-social-link {
				border-radius: 100%;
				a {
					padding: 13px 15px;
					display: block;
					border-radius: 100%;
					transition: 0.3s;
					svg {
						width: 20px;
					}
					&:hover {
						background-color: var(--rbb-general-primary-color) !important;
						svg {
							fill: #fff;
						}
					}
				}
			}
		}
		.rbb-header-sticky {
			.menu-container {
				min-height: 40px;
				justify-content: center;
				> .level-1 {
					&:first-child {
						> a {
							padding-left: 0;
						}
					}
					> a {
						&::before {
							content: "";
							left: 0;
							width: 100%;
							height: 100%;
							position: absolute;
							top: 100%;
							z-index: 9;
							display: none;
						}
						.menu-item-title {
							text-transform: uppercase;
							font-size: 12px;
							&::after {
								display: none;
							}
						}
					}
					&:hover {
						a {
							&::before {
								display: block;
							}
						}
					}
				}
			}
			&.active {
				.rbb-header-sticky {
					&::after {
						opacity: 1;
						height: 100%;
					}
				}
			}
			.rbb-product-search-icon-wrap {
				box-shadow: 0 8px 10px 0 rgba(0, 122, 75, 0.05);
			}
			.rbb-product-search-content2 {
				.rbb-search-form {
					.input-group {
						.search-icon {
							font-size: var(--rbb-search-icon-size);
						}
						.input-search {
							&::placeholder {
								font-size: 0;
							}
						}
						label {
							left: 50px;
							color: #a0a0a0;
						}
					}
				}
			}
			.rbb-account {
				.rbb-account-icon-wrap {
					box-shadow: 0 8px 10px 0 rgba(#007a4b, 0.05);
					&:hover {
						border-color: var(--rbb-general-primary-color);
						background: var(--rbb-general-primary-color);
						.rbb-account-icon {
							color: #fff;
						}
					}
					&::before {
						display: none;
					}
				}
			}
			.rbb-wishlist {
				.wishlist-icon-link {
					border-color: var(--rbb-wishlist-icon-border-color);
					box-shadow: 0 8px 10px 0 rgba(#007a4b, 0.05);
					.wishlist-icon {
						color: var(--rbb-wishlist-icon-color);
					}
					&:hover {
						border-color: var(--rbb-general-primary-color);
						background: var(--rbb-general-primary-color);
						.wishlist-icon {
							color: #fff;
						}
					}
				}
			}
			.border-cart {
				.rbb-mini-cart {
					.dropdown {
						.mini-cart-icon {
							width: 50px;
							border-radius: 100%;
							&::before {
								display: none;
							}
						}
					}
				}
			}
			.rbb-mini-cart .dropdown .mini-cart-icon {
				border-color: var(--rbb-mini-cart-icon-border-color);
				border-radius: 30px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				background: #fff;
				box-shadow: 0 8px 10px 0 rgba(#007a4b, 0.05);
				width: 65px;
				height: 50px;
				&::before {
					content: "";
					position: absolute;
					height: 35px;
					width: 1px;
					left: 0;
					top: 5px;
					background: #d8d8d8;
				}
				button {
					height: 50px;
					width: 50px;
					&:hover {
						.cart-icon {
							color: var(--rbb-general-primary-color);
						}
					}
				}
				.cart-icon {
					color: var(--rbb-mini-cart-icon-color);
				}
			}
			&.header-stuck {
				.header-inner {
					box-shadow: none;
					height: auto;
					padding: 0;
					.rbb-header-left {
						display: none !important;
					}
					#rbb-branding {
						position: absolute;
						top: 50%;
						left: 30px;
						max-height: 45px;
						transform: translateY(-50%);
					}
					#rbb-header-right {
						position: absolute;
						top: 50%;
						right: 30px;
						height: 50px;
						transform: translateY(-50%);
						.rbb-product-search {
							display: none;
						}
						.rbb-mini-cart {
							.mini-cart-icon {
								width: 50px;
								border-radius: var(--rbb-mini-cart-icon-border-radius);
								&::before {
									display: none;
								}
							}
						}
					}
				}
				.rbb-header-center {
					height: 100%;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
	.rbb-default-header {
		&.header-9 {
			.rbb-header-sticky {
				background-color: var(--rbb-menu-sticky-background-color);
			}
			.header-inner {
				#rbb-header-right {
					.rbb-product-search {
						.rbb-product-search-content2 {
							.click-search-mobile {
								display: flex;
								border-radius: 50px;
								color: var(--rbb-mini-cart-icon-color);
								border-color: var(--rbb-wishlist-icon-border-color);
								box-shadow: 0 8px 10px 0 rgba(0, 122, 75, 0.05);
								transition: 0.3s;
							}
							&.active {
								.click-search-mobile {
									border-top-left-radius: 0;
									border-bottom-left-radius: 0;
									.search-icon {
										&::before {
											content: "✕";
											font-size: 20px;
											color: var(--rbb-mini-cart-icon-color);
										}
									}
								}
								.rbb-search-form {
									opacity: 1;
									visibility: inherit;
									width: 200px;
									right: 45px;
								}
							}
							display: inline-flex;
							.rbb-product-search-content > span {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1023px) {
	.rbb-default-header {
		&.header-9 {
			.toggle-megamenu {
				&::after,
				&::before {
					background-color: #fff;
				}

				.icon-directional {
					&::before {
						background-color: #fff;
					}
				}
			}
			.rbb-mini-cart {
				.dropdown {
					.mini-cart-icon {
						width: auto;
						border-radius: 30px;
						&::before {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	body {
		&.order-tracking,
		&.error404,
		&.search,
		&.single-post,
		&.single-product {
			header {
				&.header-2 {
					position: relative;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	body {
		.header-9 {
			.header-mobile {
				.toggle-megamenu .icon-directional::before,
				.menu-mobile .toggle-megamenu::after,
				.menu-mobile .toggle-megamenu::before {
					background-color: #fff !important;
				}
				#_mobile_cart .mini-cart-icon .cart-icon,
				.search-mobile {
					color: #fff !important;
				}
			}

		}
	}
}

